<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <title>@ViewData["Title"] - CityInfo</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>

<body>

    <div class="site-content">
        <div class="site-header">
            <div class="container">
                <a href="/" class="branding">
                    <img src="~/images/logo.png" alt="" class="logo">
                    <div class="logo-type">
                        <h1 class="site-title">City Info</h1>
                        <small class="site-description">Know more about your place</small>
                    </div>
                </a>

                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item">@Html.ActionLink("Home", "Index")</li>
                        <li class="menu-item">@Html.ActionLink("News", "News")</li>
                        <li class="menu-item">@Html.ActionLink("Photos", "Photos")</li>
                        <li class="menu-item">@Html.ActionLink("Contact", "Contact")</li>
                    </ul>
                </div>

                <div class="mobile-navigation"></div>

            </div>
        </div> <!-- .site-header -->

        @RenderBody()

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter your email to subscribe...">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div class="social-links">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>

                <p class="colophon">Copyright @DateTime.Now.Year City Info. All rights reserved.</p>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
