@model ImageModel

<main class="main-content">
    <div class="container">
        <div class="breadcrumb">
            @Html.ActionLink("Home", "Index", "Cities", new{ city=ViewData["Title"] })
            <span>Photos</span>
        </div>
    </div>

    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    @foreach (var item in Model.Results.Take(6))
                    {
                        <div class="photo">
                            <div class="photo-preview photo-detail" data-bg-image="@item.Urls.Regular"></div>
                            <div class="photo-details">
                                <h3 class="photo-title"><a href="@item.User.Links.Html" target="_blank">@(item.User.Name ?? item.User.UserName)</a></h3>
                                <p style="text-transform: capitalize;">@(item.Description ?? item.AltDescription)</p>
                            </div>
                        </div>
                    }
                </div>

                <div class="col-md-6">
                    @foreach (var item in Model.Results.Skip(6))
                    {
                        <div class="photo">
                            <div class="photo-preview photo-detail" data-bg-image="@item.Urls.Regular"></div>
                            <div class="photo-details">
                                <h3 class="photo-title"><a href="@item.User.Links.Html" target="_blank">@(item.User.Name ?? item.User.UserName)</a></h3>
                                <p style="text-transform: capitalize;">@(item.Description ?? item.AltDescription)</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</main>